.Alpha {
    text-align: center;
    background-color: #4D4D5B;
}

.Alpha-1 { 
    color: white;
}

.btn-Check-price{ 
    color: white;
    display: flex;
    align-items: baseline;
}


.Beta { 
    text-align: center;
}

.Gamma { 
    display: flex;
    display: inline-block;
}
